.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    padding: 0;

    background-color: $color--white;

    .nav-link {
        color: $color--black;
        font-size: 1.2rem;

        &:hover {
            opacity: 0.6;
        }

        &.active {
            background-color: $color--black;
        }
    }

    .navbar-brand {
        font-size: 2rem;
    }

    @include media-breakpoint-up(md) {
        padding: 1rem 0;
    }
}

.site-nav {
    display: none;

    @include media-breakpoint-up(md) {
        display: flex;
    }
}
